<html ng-app="listaTelefonica">
	<head>
		<meta charset="UTF-8"/>
		<title>Lista Telefonica</title>

		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/app.css">
		
		<script type="text/javascript" src="lib/angular/angular.js"></script>
		<script type="text/javascript" src="lib/angular/angular-locale_pt-br.js"></script>
		<script type="text/javascript" src="lib/angular/angular-messages.js"></script>
		
		<!-- IMPORTAÇÃO DO ARQUIVO QUE FAZ A DECLARAÇÃO DOS MÓDULOS -->
		<script type="text/javascript" src="js/app.js"></script>

		<!-- IMPORTAÇÃO DO CONTROLLER PARA ESTA VIEW -->
		<script type="text/javascript" src="js;controllers/LTController.js"></script>

	</head>
	<body ng-controller="LTController">
		<div class="jumbotron">
			<!-- EXEMPLO DO FILTRO NUMBER -->
			{{100 | number:2}}
			{{message}}
			<h4 ng-bind="app"></h4>
			<input class="form-control" type="text" ng-model="busca" placeholder="O que você está buscando?" />
			<table class="table" ng-show="contatos.length > 0">
				<tr>
					<th></th>
					<th><a href="" ng-click="ordenarPorNome('nome')">Nome</a></th>
					<th><a href="" ng-click="ordenarPorNome('telefone')">Telefone</a></th>
					<th>Operadora</th>
					<th>Data</th>
				</tr>
				<!-- ATENÇÃO AOS NOMES DAS CLASSES, E AS DEFINIÇÕES DINAMICAS NO OBJETO CONTATO 
					ATENÇÃO TAMBÉM, NO NG-MODEL DO CHECKBOX, POIS É A OPÇÃO QUE DETERMINA SE A CLASSE SERÁ OU NÃO ADICIONADA AO OBJETO
				-->
				<tr ng-class="{selecionado: contato.selecionado, negrito: contato.selecionado}" ng-repeat="contato in contatos | filter:busca | orderBy:criterioOrdenacao:direcaoOrdenacao">
					<td><input type="checkbox" ng-model="contato.selecionado"></td>
					<td>{{contato.nome | uppercase}}</td>
					<td>{{contato.telefone}}</td>
					<td>{{contato.data | date:'dd/MM/yyyy HH:mm'}}</td>
					<td>{{contato.operadora.nome}}</td>
					<td><div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div></td>
				</tr>
			</table>
			<hr>
			<form name="contatoForm">
				<input class="form-control" type="text" ng-model="contato.nome" name="nome" ng-required="true" ng-minlength="10"/>
				<input class="form-control" type="text" ng-model="contato.telefone" name="telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/"/>
				<!-- 
				<select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome for operadora in operadoras">
					<option value="">Selecione uma Operadora</option>
				</select>
				-->
				
				<!-- ********************************************************************************************************* -->

				<!-- Na expression ng-options, o primeiro termo antes do AS é o valor que será adicionado no value do option, e em seguida o valor 	que será adicionado labe do option
				Isso depende do BackEnd, se a API está esperado o código é mais definir o value com o codigo e envia diretamente para o Service na chamada do WebService
				<select class="form-control" ng-model="contato.operadora" ng-options="oepradora.codigo as operadora.nome for operadora in operadoras">
					<option value="">Selecione uma Operadora</option>
				</select>
				-->

				<!-- ********************************************************************************************************* -->

				<select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome + '( ' + (operadora.preco | currency) + ' )' group by operadora.categoria for operadora in operadoras">
					<option value="">Selecione uma Operadora</option>
				</select>
			</form>

			<div ng-messages="contatoForm.nome.$error">
				<div ng-message="required && contatoForm.nome.$dirty" class="alert alert-danger">
					Por favor, preencha o nome.
				</div>
				<div ng-message="minlength" class="alert alert-danger">
					Por favor, o campo nome não pode ter menos que 10 caracteres.
				</div>	
			</div>

			<div ng-messages="contatoForm.telefone.$error">
				<div ng-message="required && contatoForm.telefone.$dirty" class="alert alert-danger">
					Por favor, preencha o telefone.
				</div>
				<div ng-message="pattern" class="alert alert-danger">
					Por favor, o campo telefone deve ter o formato DDDD-DDDD.
				</div>	
			</div>

			<!-- MENSAGENS DE VALIDAÇÃO 
			<div ng-show="contatoForm.nome.$error.required && contatoForm.nome.$dirty" class="alert alert-danger">
				Por favor, preencha o nome.
			</div>
			<div ng-show="contatoForm.nome.$error.minlength" class="alert alert-danger">
				Por favor, o campo nome não pode ter menos que 10 caracteres.
			</div>
			<div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty" class="alert alert-danger">
				Por favor, preencha o telefone.
			</div>
			<div ng-show="contatoForm.telefone.$error.pattern" class="alert alert-danger">
				Por favor, o campo telefone deve ter o formato DDDD-DDDD.
			</div>			
			-->

			<button class="btn btn-primary btn-block" ng-click="addContato(contato)" ng-disabled="contatoForm.$invalid">
				Adicionar Contato
			</button>

			<!--***************************************************************************************************************-->
			<!-- SE FOR UM ELEMENTO SIMPLES, USE NG-SHOW OU NG-HIDE, SE FOR UM ELEMENTO QUE UM LOADING DE RECURSOS USE O NG-IF -->
			<!--***************************************************************************************************************-->
			
			<!-- Quando se usa o ng-show, o elemento continua existindo, fica apenas escondindo da exibição -->
			<!-- PARA PERFORMANCE O IDEAL É USAR O NG-IF, HÁ UMA INTERAÇÃO COM O DOM, E O ELEMENTO É RETIRADO DA ARVORE DE COMPONENTES, ASSIM O ELEMENTO NÃO É CARREGADO. SOMENTE QUANDO A CONDIÇÃO É ACEITA -->
			<button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-show="isContatoSelecionado(contatos)">
				Apagar Contatos
			</button>
		</div>

		<div ng-include="'footer.html'"></div>

	</body>
</html>
